body{
    margin: 0;
}

.flex{
    background-color: burlywood;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;


}

.one {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: lightseagreen;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.one:hover{
    background-color: cornflowerblue;
    border-radius: 50%;
    transition: 1s;
}


.two {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: lightseagreen;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.two:hover{
    background-color: cornflowerblue;
    border-radius: 50%;
    transition: 1s;
}


.three {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: lightseagreen;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.three:hover{
    background-color: cornflowerblue;
    border-radius: 50%;
    transition: 1s;
}


.four {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: lightseagreen;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.four:hover{
    background-color: cornflowerblue;
    border-radius: 50%;
    transition: 1s;
}


.five {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: lightseagreen;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 1s;
}

.five:hover{
    background-color: cornflowerblue;
    border-radius: 50%;
    transition: 1s;
}


.six {
    font-family: "Rubik Pixels", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: lightseagreen;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.six:hover{
    background-color: cornflowerblue;
    border-radius: 50%;
    transition: 1s;
}
